#wrapper{
  overflow: hidden;
}
p{
  font-size: 1.2rem;
}

.header{
  height: 5vh;
  width: 100%;
  background-color:#00bfff;

  &-logo{
    color: #ffffff;
    padding-left: 15px;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    line-height: 200%;
  }
}

.contents{
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  &-box{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    &-left{
      width: 100%;
      background-color: #ffffff;
      margin: 0 auto;
      .test-box{
        border-top: solid #00bfff 2px;
        border-bottom: solid #00bfff 2px;
        padding: 8px;
        -webkit-overflow-scrolling: touch;
        .test-q{
          padding: 8px;
          display: flex;
          font-size: 1.2rem;
          .q-num{
            display: block;
            width: auto;
            white-space: nowrap;
            padding-right: 8px;
          }
        }
        .test-q-pre{
          padding: 8px;
          display: block;
          overflow-x:scroll;
          // white-space: pre-wrap;
          background-color: #E5FFDD;
          width: auto;
          color: #427723;
          font-size: 1.2rem;
        }
        .test-a-ul{
          padding: 8px 16px;
          .test-a-list{
            position: relative;
            display: flex;
            padding: 8px;
            font-size: 1.2rem;
            .check_box_list{
              position: absolute;
              top: 0.75rem;
              left: -10px;
            }
          }
        }
        .test-a-box{
          display: block;
          margin: 8px;
          padding: 16px;
          border: dotted 1px #00bfff;
        }
      }
    }
  }
}

.footer{
  display: flex;
  width: 100%;
  height: 12vh;
  background-color: #191970;
  color: #ffffff;
  &-left{
    font-size: 2em;
    padding:2vh 2vw;
  }
  &-right{
    font-size: 0.5em;
    padding: 2vh 2vw;
    margin-left: auto;
  }
}