.header{
  height: 8vh;
  background-color:#00bfff;

  &-logo{
    color: #ffffff;
    padding-left: 15px;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    line-height: 200%;
  }
}

.contents{
  display: flex;
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  &-box{
    display: flex;
    width: 95%;
    margin: 6vh auto;
    &-left{
      padding: 2vh 2vw;
      width: 80%;
      background-color: #ffffff;
      margin: 0 auto;
      .test-box{
        border-top: solid #00bfff 2px;
        border-bottom: solid #00bfff 2px;
        padding: 8px;
        .test-q{
          padding: 8px;
          display: flex;
          font-size: 1rem;
        }
        .test-q-pre{
          padding: 8px;
          display: block;
          background-color: #000000;
          color: #ffffff;
          font-size: 1rem;
        }
        .test-a-ul{
          padding: 8px 16px;
          .test-a-list{
            position: relative;
            display: flex;
            padding: 8px;
            font-size: 1rem;
            .check_box_list{
              position: absolute;
              top: 0.75rem;
              left: -10px;
            }
          }
        }
        .test-a-box{
          display: block;
          margin: 8px;
          padding: 16px;
          border: dotted 1px #00bfff;
        }
      }
    }
    &-right{
      padding: 2vh 2vw;
      width: 20%;
      margin-left: 2vw;
      background-color: #ffffff;
    }
  }
}

.footer{
  display: flex;
  height: 12vh;
  background-color: #191970;
  color: #ffffff;
  &-left{
    font-size: 2em;
    padding:2vh 2vw;
  }
  &-right{
    font-size: 0.5em;
    padding: 2vh 2vw;
    margin-left: auto;
  }
}